
.footer{
  background-color: $bg-color;
  font-size: 20px;
  line-height: 50px;
  color: $white-color;
  @include medium-scrin {
    height: 190px;
    line-height: 24px;
  }
}

.footer a {
  color: $white-color;
  transition: all 0.3s;
  &:hover {
    color: $gold-color;
  }
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px  0px;
  @include medium-scrin {
    //height: 190px;
    flex-direction: column;
    padding: 28px 0px;
    line-height: 24px;
    align-items: center;
    //justify-content: space-between;
    row-gap: 21px;
    align-content: space-between;
  }
}

.data{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 21px;
  @include medium-scrin {
    gap: 20px;
    justify-content: space-around;
  }
}

.githhub-link {
  margin-right: 20px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.social-link__img {
  margin-top: 5px;
  transition: all .3s;
  &:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  }
  @include medium-scrin {
    margin-top: 0;
  }
}


