.skills.light,
.portfolio.light,
.video.light,
.price.light {
  color: $bg-color;
  background-color: $white-color;
}

.section-title.light {
  background-color: $white-color;
  background-image: linear-gradient(to top, #fff 39px, #000 39px, #fff 41px, #fff 41px);
}

.section-title__title.light {
  color: $bg-color;
  background: $white-color;
}

.price-card__title.light {
  color: $bg-color;
}

.price-card__span.light{
  color: $bg-color;
}

@media (max-width: 769px) {
  .nav.light{
    background-color: $white-color;
  }
  .nav__link.light {
    color: $bg-color;
  }
  .nav-close__line.light {
    background-color: $bg-color;
  }
}