.video {
  background-image: url('../assets/img/video-player.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;

  @include medium-scrin {
    background-position: -5px 210px;
    background-size: auto 418px;
  }
}
.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 705px;
  @include medium-scrin {
    min-height: 418px;
  }
}

/* img {
  width: 100%;
  @include medium-scrin {
    min-height: 418px;
  }
} */

.video__btn{
  position: absolute;
  background-color: transparent;
  @include medium-scrin {
    width: 63px;
  }
}

.video__play {
  width: 100%;
  @include medium-scrin {
    min-height: 418px;
  }
  //position: absolute;
  transition: all .3s;
  &:hover {
    cursor: pointer;
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  }
}