
.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    @include medium-scrin {
      min-height: 418px;
    }
  }
}

.video__btn{
  position: absolute;
  background-color: transparent;
  @include medium-scrin {
    width: 63px;
  }
}

.video__play {
  //position: absolute;
  transition: all .3s;
  &:hover {
    cursor: pointer;
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  }
}