@import 'null';
@import 'variables';
@import 'header';
@import 'hero';
@import 'buttons';
@import 'skills-items';
@import 'portfolio-cards';
@import 'video';
@import 'price';
@import 'contact';
@import 'footer';
@import 'burger';
@import 'theme';



html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Merriweather', serif;
  font-family: 'Inter', sans-serif;
  color: $white-color;
  background-color: $bg-color;
}

.container{
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
  @include large-scrin {
    width: calc(100% - 40px);
  }
}

/* .video-container{
  @include medium-scrin {
    width: 100%;
    padding: 0px;
  }
} */

.section {
  padding-top: 100px;
  @include medium-scrin {
    padding-top: 80px;
  }
}

.section-title {
  width: 50%;
  margin: auto;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
  text-align: center;
  margin-bottom: 60px;
  @include medium-scrin {
    margin-bottom: 50px;
    width: calc(50% + 20px);
  }
  @include small-scrin {
    margin-bottom: 40px;
    width: 100%;
  }
}
.section-title__title {
  display: inline-block;
  padding: 0px 20px;
  text-align: center;
  color: $gold-color;
  background: $bg-color;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  @include medium-scrin {
    font-size: 32px;
    line-height: 80px;
  }
}






