html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', Verdana, sans-serif;
}

h1 {
  font-family: $font-family-adding;
  @include font($fz, $lh, $fw, $fs, $color);
}

h2 {
  @include font($fz, $lh, $fw, $fs, $color);
}

h3 {
  @include font($fz, $lh, $fw, $fs, $color);
}

h4 {
  @include font($fz, $lh, $fw, $fs, $color);
}